
.card {
  width: 200px;
  padding: 1rem;
  background-color: lightgreen;
  border-radius: 5px;
  box-shadow: 0px 0px 5px black;
  color: white;
  font-size: 1.6rem;
  text-align: center;
  text-shadow: 0px 0px 5px black;
}

.card-img {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rel;
  background-color: white;
  border-radius: inherit;
  box-shadow: inherit;
}
